[Unit]
Description=qbee-agent watchdog
After=syslog.target
ConditionPathExists=@cf_workdir@/bin/qbee-watchdog
PartOf=qbee-agent.service

[Service]
Type=simple
ExecStart=@cf_workdir@/bin/qbee-watchdog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=qbee-agent.service
