[Unit]
Description=qbee-agent umbrella service
Documentation=http://help.qbee.io
After=syslog.target

Wants=qbee-scheduler.service
Wants=qbee-watchdog.service

Before=qbee-scheduler.service
Before=qbee-watchdog.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=@qbee_dest_path@/bin/qbee-ensure-paths
ExecStart=/bin/true
ExecStop=/bin/true
