[Unit]
Description=qbee-agent scheduler
After=syslog.target
ConditionPathExists=@cf_workdir@/bin/cf-execd
ConditionPathExists=@cf_workdir@/inputs/promises.cf
PartOf=qbee-agent.service

[Service]
Type=simple
ExecStart=@cf_workdir@/bin/cf-execd --no-fork
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
WantedBy=qbee-agent.service
